@model VerIDial.SDK.Sample.Models.MessageModel    
@{
   ViewBag.Title = "Verification Failed";
}
<h2 class="error">Unfortunatly that request was not successful</h2>
<p>The status description returned was: <strong>@Model.Message</strong></p>
