@model VerIDial.SDK.Sample.Models.MessageModel 
@{
    ViewBag.Title = "Verification Succeeded";
}
<h2>Congratualations, you put the correct pin in and have been successfully Verified by VerIDial.</h2>
<p>The status description returned was: <strong>@Model.Message</strong></p>
