@{
   ViewBag.Title = "Verification Pin Entry";
}
<p>Below is the iframe from the VerIDial site. View the frame source to see how it manages to update the status.</p>
<section>
    <iframe src="@ViewBag.IFrame" width="300" height="420" seamless="seamless" frameBorder="0"></iframe>
</section>
